---
import AppLayout from '../layouts/AppLayout.astro';
---

<AppLayout title="Contact | Prasanta Communications" description="Contact Prasanta Communications">

<h1>Contact</h1>
<p class="mt-0 mb-0">hey@prasanta.business</p>
<p class="mt-0">+91 7893933837</p>
<a href="https://www.linkedin.com/company/prasanta-communications" target="_blank">
  <img src="/images/linkedin.png" alt="Prassanta Communications Linkedin" width="32" height="32">
</a>
</AppLayout>